{% extends "template.html" %}
{% block title %}MUDAR{% endblock %}
{% block h1 %}MUDAR{% endblock %}
{% block conteudo%}
<table>
        <caption>Produtos</caption>
        <tr>
            <td>ID</td>
            <td>Nome</td>
            <td>Valor de Compra</td>
            <td>Valor de Venda</td>
            <td>Quantidade em Estoque</td>
            <td>Quantidade Ideal</td>
        </tr>
        {% for produto in produtos %}
        <tr>
            <td>{{ produto.id }}</td>
            <td>{{ produto.nome }}</td>
            <td>{{ produto.valor_compra }}</td>
            <td>{{ produto.valor_venda }}</td>
            <td>{{ produto.quantidade_estoque }}</td>
            <td>{{ produto.quantidade_ideal }}</td>
        </tr>
        {% endfor %}
</table>
{% endblock %}
